<!doctype html>
<html class="dark" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ base }}/assets/css/output.css" rel="stylesheet" type="text/css">
  <link href="{{ base }}/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="{{ base }}/assets/css/jquery.toast.css" rel="stylesheet">
  <link href="{{ base }}/assets/css/dark.css" rel="stylesheet">
  <title>{{ title }}</title>

  <meta name="keywords" content="todo, list, lists"/>
  <meta name="description" content="A simple web app to create and share todo lists."/>
  <meta name="subject" content="your website's subject">
  <meta name="language" content="EN">
  <meta name="url" content="https://todo.rocks">
  <meta name="identifier-URL" content="https://todo.rocks">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">

  <meta name="og:title" content="Todo.rocks"/>
  <meta name="og:url" content="https://todo.rocks"/>
  <meta name="og:site_name" content="Todo.rocks"/>
  <meta name="og:description" content="A simple web app to create and share todo lists."/>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body class="transition-colors duration-400 bg-gray-100 dark:bg-gray-900">
  
  <nav class="bg-white shadow dark:shadow-none dark:bg-transparent">
    <div class="max-w-7xl mx-auto px-4 sm:px-20 lg:px-40">
      <div class="relative flex justify-between h-16">
          <div class="flex">
            <div class="-ml-2 mr-2 flex items-center md:hidden">
                <!-- Mobile menu button -->
                <button id="NavToggle" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                
                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </button>
            </div>
            <div class="hidden md:ml-6 md:flex md:items-center md:space-x-8 dark:md:space-x-2">
                <!-- Current: "border-emerald-500 border-b-2 dark:bg-gray-800 dark:text-white dark:border-none dark:px-3 px-1 py-2 dark:rounded-md text-sm font-medium", 
                Default: "text-gray-600 border-b-2 border-transparent hover:border-gray-300 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white " -->
                <a href="{{ base }}" class="{{ (current == 'home') ? 'active-nav-item' : 'nav-item' }}">Home</a>
                {# <a href="{{ base }}/faq" class="{{ (current == 'faq') ? 'active-nav-item' : 'nav-item' }}">FAQ</a> #}
                {# <a href="{{ base }}/changelog" class="{{ (current == 'changelog') ? 'active-nav-item' : 'nav-item' }}">Changelog</a> #}

                {# <a href="#" class="comingsoon text-gray-600 border-b-2 border-transparent hover:border-gray-300 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white dark:border-none dark:px-3 px-1 py-2 dark:rounded-md text-sm font-medium inline-flex">Contact </a> #}
                
            </div>
          </div>

          <div class="absolute inset-y-0 right-0 flex items-center pr-auto sm:ml-6 sm:pr-0">
            <div class="dark:mr-0 pr-0">
                <button type="button" id="toggleTheme" class="bg-gray-200 dark:bg-gray-800 p-1 rounded-full">
                <!-- Heroicon name: outline/bell -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-hidden="true" class="h-6 w-6 lg:h-8 lg:w-8">
                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                </svg>
                </button>
            </div>

            <div class="ml-3 relative">
                {# <a href="#" class="comingsoon text-gray-600 border-b-2 border-transparent hover:border-gray-300 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white dark:border-none dark:pt-1.5 px-1 py-2 dark:rounded-md text-sm font-medium inline-flex">Sign In </a> #}
            </div>
          </div>
          
      </div>
    </div>
      <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden md:hidden w-full" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 dark:bg-transparent bg-white rounded-b-md">
          <!-- 
          Current: "text-emerald-500 bg-emerald-50 border-l-4 border-emerald-500 dark:border-none dark:bg-gray-900 dark:text-white", 
          Default: "text-gray-500 border-l-4 border-transparent hover:bg-gray-50 hover:border-gray-500 dark:border-none dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white" -->
          <a href="{{ base }}" class="{{ (current == 'home') ? 'active-mobile-nav-item' : 'mobile-nav-item' }}">Home</a>
          {# <a href="{{ base }}/faq" class="{{ (current == 'faq') ? 'active-mobile-nav-item' : 'mobile-nav-item' }}">FAQ</a> #}
          {# <a href="{{ base }}/changelog" class="{{ (current == 'changelog') ? 'active-mobile-nav-item' : 'mobile-nav-item' }}">Changelog</a> #}
          {# <a href="#" class="comingsoon text-gray-500 border-l-4 border-transparent hover:bg-gray-50 hover:border-gray-500 dark:border-none dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white block px-3 py-2 dark:rounded-md text-base font-medium">Contact</a> #}

      </div>
    
    </div>
  </nav>
  

  {% if (messages.success | length > 0) %}
    <div class="message bg-emerald-500 text-white py-1.5 px-4 mt-6 w-10/12 sm:w-2/4 mx-auto rounded-md">
      <strong>Success!</strong> {{ messages.success }}
    </div>
  {% endif %}

  {% if (messages.warning | length > 0) %}
    <div class="message bg-orange-500 text-white py-1.5 px-4 mt-6 w-10/12 sm:w-2/4 mx-auto rounded-md">
      <strong>Warning!</strong> {{ messages.warning }}
    </div>
  {% endif %}

  {% if (messages.error | length > 0) %}
    <div class="message bg-red-500 text-white py-1.5 px-4 mt-6 w-10/12 sm:w-2/4 mx-auto rounded-md">
      <strong>Error!</strong> {{ messages.error }}
    </div>
  {% endif %}


  {% block main %}{% endblock %}

  <script src="{{ base }}/assets/js/jquery.toast.js"></script>
  <script src="{{ base }}/assets/js/viewlist.js" id="script"></script>
  <script src="{{ base }}/assets/js/modal.js"></script>
  <script src="{{ base }}/assets/js/jquery.toast.js"></script>
  <script src="{{ base }}/assets/js/main.js"></script>
  <script src="{{ base }}/assets/js/index.js"></script>
  <script src="{{ base }}/assets/js/sweetalert2.all.min.js"></script>


</body>
</html>

